<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="log_in.css">
<div class="sidenav">
         <div class="login-main-text">
          
            <h1>La Tienda de Rosita</h1>



            <br>
            <h4>El lugar para comprar con toda la familia</h4>
            <br>
            <p>Inicia sesion o registrate para ver todas nuestras maravillosas ofertas!</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <label>Email</label>
                     <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group">
                     <label>Contrasena</label>
                     <input type="password" class="form-control" placeholder="Contrasena">
                  </div>
                  <button type="submit" class="btn btn-black">Iniciar Sesion</button>
                  <button type="submit" class="btn btn-dark_pink">Crear Cuenta</button>
               </form>
            </div>
         </div>
      </div>