<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear usuario</title>
    <link href="../static/css/bootstrap-grid.min.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
    <div class="container">
        <form action="#" th:action="@{/save}" th:object="${usuario}" method="POST">
            <div class="col-md-12">
                <div class="col-md-4">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre" required>
                </div>
                <div class="col-md-4">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" th:field="*{apellido}" name="apellido" required>
                </div>
                <div class="col-md-4">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" th:field="*{direccion}" name="direccion" required>
                </div>
                <div class="col-md-4">
                    <label for="estado">Teléfono</label>
                    <input type="number" class="form-control" id="telefono" th:field="*{telefono}" name="telefono" required>
                </div>
                <div class="col-md-4">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" name="email" required>
                </div>
                <div class="col-md-4">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" th:field="*{contraseña}"
                        name="contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

        </form>
    </div>
</body>

</html>